:root {
    --primary-color: #63c6ae; 
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 980px;
}

.header {
    background-color: #fff;
    width: 100%;
}

.js .header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo-text{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--primary-color);
    display: block;
    float: left;
    padding: 20px;
    
}

.js .logo-text {
    height: 76.69px;
    box-sizing: border-box;
}

.header__nav {
    clear: left;
}

.js .header__nav {
    transition: max-height 1s;
}

.header__nav ul {
    margin: 0;
    padding: 0;
}

.header__nav li {
    list-style: none;
    background-color: #242a2c;
    padding: 25;
}

.header__nav a {
    font-size: 14px;
    font-weight: 600;
    color: #586165;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px dashed rgba(255, 255, 255, .2);
    transition: .5s ease color;
}

.header__nav a:hover {
    color: var(--primary-color);
}

.js .header__btnMenu {
    float: right;
    margin: 1.5em;
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.hero {
    padding: 60px 15px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(45deg, white 50%, transparent 50%),
                        linear-gradient(-45deg, white 50%, transparent 50%),
                        url(../img/herobg.jpg);
    background-size: 40px 40px, 40px 40px, cover;
    background-repeat: no-repeat;
    background-position: left calc(50% + 20px) bottom, left calc(50% - 20px) bottom, center;
    margin-bottom: 40px;
}

.hero__title {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--primary-color);   
    padding: 30px 15px;
    color: white;
}

.js .hero__title {
    margin-top: 67.59px;
}

.hero__text {
    background-color: #242a2c;
    padding: 25px 15px;
    margin: 25px 30px;
    color: white;
}

.hero__btn {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 20px 30px;
    margin: 0 auto 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.people-cards__card:hover {
    outline: 5px solid var(--primary-color);
    outline-offset: -5px;
}

.people-cards__card:hover .people-cards__avatar img {
    transform: translateY(-50%);
}

.people-cards__card:hover .people-cards__card h2, 
.people-cards__card:hover .people-cards__card p {
    color: var(--primary-color);
}

.people-cards__img {
    width: 100%;
}

.people-cards__avatar {
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.people-cards__content {
    text-align: center;
    padding: 40px 25px 10px;
    border-left: 1px solid #dbe1e7;
}

.people-cards__card h2 {
    color: #737c85;
    font-weight: normal;
    font-size: 21px;

}

.people-cards__card p {
    color: #929da5;
}

.content {
    background-color: #f9f9f9;
    padding: 20px 20px 80px;
    border-top: 1px solid #dbe1e7;

}

.content article {
    margin-top: 60px;
}

.content article h3 {
    font-size: 21px;
    color: #737c85;
    word-spacing: 3px;
}

.content article p {
    font-size: 14px;
    color: #929da5;
    word-spacing: 3px;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 3px;
    font-weight: bold;
    transition: background .5s ;
}

.button:hover {
    background-color: #929da5;
}

.button-primary {
    background-color: var(--primary-color);
    margin-right: 10px;
}

.button-secundary {
    background-color: #455357;
}

.last-articles__title {
    color: white;
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

.last-articles__title h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 0;
}

.last-articles__thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}

.last-articles__thumbs img {
    display: block;
    width: 100%;
}

.laptop-slider {
    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}

.slideshow {
    white-space: nowrap;
}

.slideshow figure {
    display: inline-block;
}

.js .laptop-slider {
    overflow: hidden;
    color: white;
}

.js .laptop-slider .slideshow {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
}

.js .laptop-slider figure {
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
 
.js .laptop-slider figure.show {
    opacity: 1;
    position: static;
}

.js .laptop-slider .prev, .js .laptop-slider .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.js .laptop-slider .prev {
    left: 10px;
}

.js .laptop-slider .next {
    right: 10px;
}

.quote-container {
    padding: 50px 0;
    background-color: var(--primary-color);
    border-bottom: 12px solid #48b9a1;
}

.quote-slideshow h2 {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}

.quote-slideshow figcaption {
    color: white;
    font-size: 30px;
    text-align: center;
}

.no-js .quote-slideshow figure + figure {
    margin-top: 5em;
}

.js .quote-slideshow {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
    color: white;
    box-sizing: border-box;
    padding: 0 50px;
}

.js .quote-slideshow figure h2{
    margin-top: 0;
}

.js .quote-slideshow figure {
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 50px;
    box-sizing: border-box;
    margin: 0;
}

.js .quote-slideshow figure.show {
    opacity: 1;
    position: static;
}

.js .quote-slideshow .prev, .js .quote-slideshow .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.js .quote-slideshow .prev {
    left: 10px;
}

.js .quote-slideshow .next {
    right: 10px;
}

.footer {
    background-color: #242a2c;
    padding: 50px 10px 250px;
    color: #454e51;
}

.footer h2 {
    text-transform: uppercase;
    margin-top: 0;
}

.footer p {
    line-height: 1.15;
    font-weight: bold
}

.footer__links li {
    list-style: none;
}

.footer__links a {
    text-decoration: none;
    color: #454e51;
    display: inline-block;
    padding-bottom: 5px;
}



@media screen and (min-width: 1025px) {
    .logo-text {
        float: left;
        width: 25%;
        text-align: right;
    }

    .header {
        position: fixed;
    }

    .header__nav {
        width: 100%;
        clear: none;
    }      

    .header__nav ul {
        display: flex;
    }

    .header__nav li {
        flex-grow: 1;
        background-color: white;
    }

    .header__btnMenu {
        display: none;
    }

    .people-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }

    .content .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .last-articles__thumbs {
        grid-template-columns: repeat(6, 1fr);
    }

    .footer .container {
        display: flex;
        justify-content: space-around;
        align-items: space-around;
    }

    .footer .container > * {
        margin: 21px;
    }

}